# Coq build artifacts
*.vo
*.vok
*.vos
*.glob
*.v.d
*.aux
.*.aux
.coq-native/
.Makefile.d
.Makefile.test.d
.nra.cache
Makefile.conf
Makefile.test.conf
CoqMakefile.conf

# Temporary test files
tmp_*.v
test.v
test_lia.v
test_rewrite_pow.v

# Editor files
*~
\#*\#
.#*

# IDE
.vscode/
.idea/
