[flake8]
max-line-length = 160
extend-ignore = E203, W503
# Allow a broad set of historical style issues to avoid failing the whole CI
ignore = E501,F401,F811,W292,W293,W391,E722,E305,E302,E306,E129,E111,E117
